body {
  font-family: 'Epilogue', sans-serif;
}

main {
  display: flex;
  flex-flow: row wrap;
  width: 260px;
}

h1 {
  font-size: 2.4em;
}

label {
  font-size: 1.3em;
}

.status-button {
  height: 100px;
  width: 100px;
  margin: 15px;
  color: white;
  background-color: rgba(5, 5, 5, 1);
  font-family: 'Epilogue', sans-serif;
  font-size: 1.3em;
}

#busy {
  background:
}