body {
  font-family: 'Epilogue', sans-serif;
  margin: 0;
}

#panel {
  width: fit-content;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #eeeeee;
  background-color: whitesmoke;
  display: flex;
  flex-flow: column nowrap;
}

main {
  display: flex;
  flex-flow: row wrap;
  width: 260px;
}

h1 {
  margin: 0 0 20px 0;
  font-size: 2.4em;
  text-align: center;
}

#name-field{
  height: 25px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  background-color: white;
  border: 2px solid #eeeeee;
}

label {
  width: calc(16% - 15px);
  height: calc(100% - 1px);
  margin: 1px 10px 0 5px;
  font-size: 1.3em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

input {
  width: calc(84%);
  height: 100%;
  border: none;
  background: none;
  border-radius: 5px;
  font-family: 'Epilogue', sans-serif;
  font-size: 1.3em;
}

.status-button {
  height: 100px;
  width: 100px;
  margin: 15px;
  color: white;
  background-color: rgba(5, 5, 5, 1);
  border-radius: 10px;
  font-family: 'Epilogue', sans-serif;
  font-size: 1.3em;
}

.color-bar {
  height: 5px;
  width: 60px;
  border-radius: 2.5px;
}

#busy-bar {
  background: 
}